<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>547812221971-v7bfa2ica856f6nnbpo5mhc77i3r75s1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547812221971-v7bfa2ica856f6nnbpo5mhc77i3r75s1</string>
	<key>API_KEY</key>
	<string>AIzaSyAzj1xEdzmtalNBAhURkWaK7tD5OMnMSog</string>
	<key>GCM_SENDER_ID</key>
	<string>547812221971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ednet.som</string>
	<key>PROJECT_ID</key>
	<string>smart-offer-management</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-offer-management.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547812221971:ios:1297feee40dd78ae208be6</string>
</dict>
</plist>