[Desktop Entry]
Name=Smart Offer Manager
Comment=Flutter UI Kit
Icon=${SNAP}/meta/gui/icon.png
Exec=som
Terminal=false
Type=Application
Categories=Office;Utility;
Keywords=UI;FlutterUI;UIKit;Kit;FlutterUIKit;